.navbar {
  background-color: #ab46d2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 10px 20px;
  font-family: "Source Code Pro", monospace;
}

.main-header {
  color: white;
}
